@use "./style1.scss";
// @forward використовується для того щоб файли які будуть импортувати цей файл мали доступ до всіх змінних які імпортовані в цей файл
@forward "./style1.scss";

.container {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.container1 {
  // зверніть увагу необхідно через крапку вказувати до змінної якого файлу вы звертаєтесь
  background-color: style1.$first-color;
}
