@use "../../lib/service.scss";
@use "../../lib/varibles.scss";

// кольори типів фінансів
$balance-color: #cef1ef;
$ref-earning-color: #fddcdf;
$sales-color: #fcebcc;
$earning-color: #d4e0ff;

.cost-item {
    display: flex;
    // викликаючи міксин spacing з файлу service.scss задаємо відступи нашому контейнеру
    @include service.spacing(2);
    align-items: center;
}

.cost {
    border: 2px solid #f8f8ff;
}

.balance {
    // викликаючи міксин circle з файлу service.scss створюємо круглий елемент з розміром 50px
    @include service.circle(50);
    // успадковуємо стилі класу .cost
    @extend .cost;
    // використовуємо змінні записані в файлі varibles.scss
    background-color: $balance-color;
}

.ref-earning {
    // викликаючи міксин circle з файлу service.scss створюємо круглий елемент з розміром 50px
    @include service.circle(50);
    // успадковуємо стилі класу .cost
    @extend .cost;
    // використовуємо змінні записані в файлі varibles.scss
    background-color: $ref-earning-color;
}

.sales {
    // викликаючи міксин circle з файлу service.scss створюємо круглий елемент з розміром 50px
    @include service.circle(50);
    // успадковуємо стилі класу .cost
    @extend .cost;
    // використовуємо змінні записані в файлі varibles.scss
    background-color: $sales-color;
}

.earnings {
    // викликаючи міксин circle з файлу service.scss створюємо круглий елемент з розміром 50px
    @include service.circle(50);
    // успадковуємо стилі класу .cost
    @extend .cost;
    // використовуємо змінні записані в файлі varibles.scss
    background-color: $earning-color;
}

.cost-info {
    // використовуючи вкладеність задаємо стилі тегу p який знаходиться в елементі з класом .cost-info
    p {
        font-weight: 400;
        // використовуємо змінні записані в файлі varibles.scss
        color: varibles.$secondary-text;
    }
    // використовуючи вкладеність задаємо стилі елементу з класом .price який знаходиться в елементі з класом .cost-info
    .price {
        font-weight: 600;
        font-size: 24px;
        // використовуємо змінні записані в файлі varibles.scss
        color: varibles.$primary-text;
    }
}
