// кольори статусів повідомлені
$pendig-color: #2962ff;
$approved-color: #0bb7af;
$rejected-color: #f64e60;

// кольори типів фінансів
$balance-color: #0bb7af;
$ref-earning-color: #f64e60;
$sales-color: #ee9d01;
$earning-color: #2962ff;

// кольори для тексту
$primary-text: #1e2a35;
$secondary-text: #757e85;
